@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AP.SecuritySystem.Models.ResetPasswordModel
<!DOCTYPE html>

<html>
<head>
    <link href="~/css/metro.css" rel="stylesheet">
    <link href="~/css/metro-responsive.css" rel="stylesheet">
    <link href="~/css/metro-icons.css" rel="stylesheet">
    <link href="~/css/app.css" rel="stylesheet">

    <script src="~/js/jquery.js"></script>
    <script src="~/js/metro.js"></script>
    <script src="~/js/ap.js"></script>

</head>
<body class="bg-darkTeal">
    @Html.Hidden("userId", Model.User.Id)
    @Html.Hidden("token", Model.Token)
    <div class="login-form padding20" id="divForm">
            <form method="post" action="@Url.Action("ResetPassword","Account")" id="changePasswordForm">
                Reset Password for @Model.User.UserName
                <hr class="thin" />
                <div class="input-control modern password iconic" data-role="input" id="divPassword">
                    <input type="password" name="password" id="inputPassword">
                    <span class="label">You password</span>
                    <span class="informer">Please enter you password</span>
                    <span class="placeholder">Input password</span>
                    <span class="icon mif-lock"></span>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>

                </div>
                <div class="input-control modern password iconic" data-role="input" id="divConfirmPassword">
                    <input type="password" name="password" id="inputConfirmPassword">
                    <span class="label">Confirm password</span>
                    <span class="informer" id="informerConfirmPassword">Please confirm you password</span>
                    <span class="placeholder">Confirm password</span>
                    <span class="icon mif-lock"></span>
                    <button class="button helper-button reveal"><span class="mif-looks"></span></button>

                </div>
        <!--
        <div class="input-control text full-size" data-role="input">
            <label for="user_login">Username:</label>
            <input type="text" name="UserName" id="user_login" placeholder="username">
            <button class="button helper-button clear"><span class="mif-cross"></span></button>
        </div>

        <br />
        <br />
        <div class="input-control password full-size" data-role="input">
            <label for="user_password">Password:</label>
            <input type="password" name="Password" id="user_password" placeholder="password">
            <button class="button helper-button reveal"><span class="mif-looks"></span></button>
        </div>
-->
                <hr class="thin" />

        <div class="form-actions">
            <button type="submit" class="button primary" id="changePassword">Reset</button>
            <button type="button" class="button link">Cancel</button>
        </div>
    </form>

    </div>
</body>
</html>
